@media (min-width: 768px) {
  #menuBtn {
    display: none;
  }

  .navigation {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
    width: auto;
  }

  .navigation a {
    padding: 0.5rem 1rem;
    text-align: center;
  }

  .header-container {
    flex-wrap: nowrap;
  }

  main {
    max-width: 1000px;
    margin: 0 auto;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
